body {
    margin: 0;
    background-image: url('img/board-bg.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
}

.boardinfocontainer{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.boardinfo{
    width: 1200px;
    height: 720px;
    border-radius: 100px;
    object-fit: cover;
}

.header{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 32px;
}

@media(max-width: 800px){

    body{
        height: 100vh;
    }

    .boardinfo{
        width: 90%;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;
    }

    .header{
        font-size: 14px;
    }


}