<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="board.css">
    <title>Board</title>
</head>

<body>
    <div class="board-main">

        <div class="task-main">
            <span class="task-header">TO DO</span>
            <div id="todo-tasks" class="taskcontainer bg-todo">
                <div class="task">
                    <span class="task-font" id="task">Board Aufgabe</span>
                    <div class="task-person" id="task-person">FR</div>
                </div>
            </div>
        </div>

        <div class="task-main">
            <span class="task-header">IN PROGRESS</span>
            <div id="inprogress-tasks" class="taskcontainer bg-progress">
                <div class="task">
                    <span class="task-font" id="task">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eius atque numquam maxime, voluptatibus quisquam maiores similique doloremque explicabo, omnis odit ipsum, molestiae et a eaque iusto eligendi corrupti impedit.</span>
                    <div class="task-person" id="task-person">FR</div>
                </div>
            </div>
        </div>

        <div class="task-main">
            <span class="task-header">TESTING</span>
            <div id="testing-tasks" class="taskcontainer bg-testing">
                <div class="task">
                    <span class="task-font" id="task">Board Aufgabe</span>
                    <div class="task-person" id="task-person">FR</div>
                </div>
            </div>
        </div>

        <div class="task-main">
            <span class="task-header">DONE</span>
            <div id="done-tasks" class="taskcontainer bg-done">
                <div class="task">
                    <span class="task-font" id="task">Board Aufgabe</span>
                    <div class="task-person" id="task-person">FR</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>