<div class="header">

    <div class="navbar-left">
        <div class="first-section">

            <a href="#"><img src="./img/joinlogo.png"></a>
            <button><a href="board.html">Board</a></button>
            <button><a href="backlog.html">Backlog</a></button>
            <button><a href="add-task.html">Add Task</a></button>
            <button><a href="help.html">How to</a></button>
            <button><a href="impressum.html">Impressum</a></button>


        </div>
        <div class="second-section">
            <a href="#"><img src="./img/user.png" alt="" srcset=""></a>
        </div>
    </div>


</div>